* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #002339;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 12%;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.container h1 {
    font-weight: 500;
    font-size: 45px;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
    width: 70%; 
}

.container button img {
    width: 28px;
    margin-right: 10px;
}

.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; 
}


@media screen and (max-width: 600px) {
    .container {
        margin: 8%;
    }

    .container h1 {
        font-size: 30px;
    }

    .display {
        padding: 20px;
    }

    .display input {
        font-size: 18px;
    }

    .container button {
        font-size: 18px;
        padding: 12px 20px;
    }
}
